<div class="col-md-12">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%= product.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'View Details', product_path(product), :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>