<div class="col-md-7">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel-heading">All Feedback</div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Feedback</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.name %></td>
          <td><%= feedback.feedback %></td>
          <td><%= feedback.email %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>