/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  width: 100%;
}

.py-5 {
  padding: 2rem 0px;
}

.text-white {
  color: #ffffff;
}

.bg-dark {
  background-color: #343a40 !important;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #efe2e2 !important;
}


.main {
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mw-50 {
  min-width: 50%;
}