<div class="col-md-7">
  <p id="notice"><%= notice %></p>

  <h1>All Transactions - Admin</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Customer user</th>
      <th>Total</th>
    </tr>
    </thead>

    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.customer_user.name %></td>
        <td><%= transaction.total %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>