<div class="col-md-10">
  <div class="row">
    <div class="col-md-12 ">
      <div class="comment-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">
            Comment panel
          </div>
          <div class="panel-body">
            <ul class="media-list">
              <li class="media">
                <a href="#" class="pull-left">
                  <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                </a>
                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted"><%= @comment.created_at %></small>
                                </span>
                  <strong class="text-success"><%= @comment.user.name %></strong>
                  <p><%= @comment.comment %></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%= link_to 'Back', root_path %>
</div>